*{
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color:rgb(65,65,65);
  
}
img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

/* Header/Blog Title */
.header {
  margin-top: 45px;
  text-align: right ;
  background-color: rgb(48,48,48);
  background-image: url('images/vardef_hero.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: 600px;
  color: rgb(0,183,255);
}

.header h1 {
  font-size: 50px;
  color: rgb(0,183,255);
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(28,28,28);
  position: fixed;
  top: 0;
  margin-right: 10px;
  width: 100%;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  background: rgb(38,38,38);
  color: rgb(208,212,223);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(48,48,48);
  color: rgb(218,222,233);
}


/* Left column */
.leftcolumn {   
  float: left;
  color: white;
  text-align: left;
  padding-left: 350px;
  padding-bottom: 100px;
}

 /*Right column */
.rightcolumn {
  float: right;
  padding-left: 20px;
  background-color: rgb(48,48,48);
  background-image: url('images/mock_map.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 453px;
  width: 768px;
  background-position: center;
}

.teamimageleft{
  float: left;
  padding-right: 20px;
  background-color: rgb(48,48,48);
  background-image: url('images/team_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 465px;
  width: 968px;
  background-position: center;
}
.teamright{
  float: left;
  padding-right: 120px;
  height: 465px;
  color: white;
  text-align: center;
}

.teamcard {
  background-color: rgb(184,200,203);
  margin-top: 20px;
  color: black;
}


.col-container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
}
.col {
  display: table-cell; /* Make elements inside the container behave like table cells */
}

/* Fake image, update with real images and change instances later. */
.fakeimg {
  background-image: url('images/image_.jpg');
  background-color: gray;
  width: 100%;
  padding: 20px;
}

.featuredimg1 {
  background-image: url('images/pi_nas.jpeg');
  background-color: gray;
  width: 100%;
  object-fit: cover;
  height: 400px;
  padding: 20px;
}
.featuredimg2 {
  background-image: url('images/bot_image.jpeg');
  background-color: gray;
  object-fit: cover;
  width: 100%;
  height: 400px;
  padding: 20px;
}
.featuredimg3 {
  background-image: url('images/rc_image.jpeg');
  background-color: gray;
  object-fit: cover;
  width: 100%;
  height: 400px;
  padding: 20px;
}

.profile{
  background-image: url('images/stock_profile.png');
  background-color: gray;
  border-radius:50%;
  background-size: 100%;
  width: 200px;
  height: 200px;
  background-position: center;
  padding-top: 80px;

}

.threecolumn{
  float: left;
  width: 33%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: rgb(73,73,73);
  padding: 20px;
  margin-top: 20px;
  color: rgb(0,190,255);
}

.featuredcard {
  background-color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  color: gray;
}

.spacercard {
  background-color: rgb(73,73,73);
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.herocard {
  background-color: rgb(73,73,73);
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  color: rgb(229,90,0);
}

.aboutcard {
  background-color: rgb(184,200,203);
  margin-top: 20px;
  color: black;
}

.aboutimageleft{
  float: left;
  padding-right: 20px;
  background-color: rgb(48,48,48);
  background-image: url('images/about_splash.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 465px;
  width: 968px;
  background-position: center;
}
.aboutright{
  float: left;
  padding-right: 120px;
  height: 465px;
  color: white;
  text-align: center;
}

.promocard {
  background-color: rgb(252,219,197);
  margin-top: 20px;
  color: black;
}
  
.promoright{
  float: right;
  padding-left: 20px;
  background-color: rgb(48,48,48);
  background-image: url('images/drone_splash.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
  width: 1100px;
  background-position: center;
}

.promoleft{
  height: 465px;
  float: left;
  color: black;
  text-align: center;
  padding-left: 200px;
  padding-bottom: 100px;
}

/* Add a card effect for articles */
.contactcard {
  background-color: black;
  padding: 20px;
  margin-top: 20px;
  color: white;
}

/* Change h2 text within card */
.card h2 {
  color: rgb(0,180,255);
}

/* Change h4 text within card */
.card h4 {
  color: black
}

/* Change h5 text within card */
.card h5 {
  color: rgb(0,190,255);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: rgb(55,55,55);
  height: 100px;
  color: white;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}*/

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}