
body {
  background-color:rgb(65,65,65);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}



/* Clear floats after the columns */
.grid-container {
  background-color: rgb(65,65,65);
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-row-gap: 10px;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
  "topnav topnav topnav topnav topnav topnav topnav topnav topnav topnav topnav topnav"
  "header header header header header header header header header header header header"
  "hero hero hero hero hero hero hero hero hero hero hero hero"
  "aboutleft aboutleft aboutleft aboutleft aboutleft aboutleft aboutleft aboutright aboutright aboutright aboutright aboutright"
  "promoleft promoleft promoleft promoleft promoleft promoright promoright promoright promoright promoright promoright promoright"
  "spacer spacer spacer spacer spacer spacer spacer spacer spacer spacer spacer spacer"
  "featured featured featured featured featured featured featured featured featured featured featured featured"
  "featured1 featured1 featured1 featured1 featured2 featured2 featured2 featured2 featured3 featured3 featured3 featured3"
  "featuredend featuredend featuredend featuredend featuredend featuredend featuredend featuredend featuredend featuredend featuredend featuredend"
  "teamleft teamleft teamleft teamleft teamleft teamleft teamleft teamright teamright teamright teamright teamright"
  "contactleft contactleft contactleft contactleft contactleft contactleft contactright contactright contactright contactright contactright contactright"
  "footer footer footer footer footer footer footer footer footer footer footer footer";
}


/* Top Naviagtion Section*/
.topnav {
  grid-area: topnav;
  background-color: rgb(28,28,28);
  position: fixed;
  width: 100%;
  top: 0;
}
/* Style the topnav links */
.topnav a {
  background: rgb(38,38,38);
  color: rgb(208,212,223);
  display: block;
  float: left;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
  background-color: rgb(48,48,48);
  color: rgb(218,222,233);
}


/* Header/Blog Title */
.header {
  min-height: 800px;
  max-height: 1000px;
  grid-area: header;
  background-color: rgb(48,48,48);
  background-image: url('images/vardef_hero.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0,183,255);
  margin-top:39px;
}


/* Spacer with motto statement */
.hero{
  grid-area: hero;
  background-color: rgb(73,73,73);
  color: rgb(244,80,51);
  padding: 20px;
  text-align: center;
}


/* About section */
.aboutleft{
  min-height: 500px;
  grid-area: aboutleft;
  background-color: rgb(48,48,48);
  background-image: url('images/about_splash.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutright{
  grid-area: aboutright;
  background-color: rgb(184,200,203);
  color: black;
  padding: 60px;
  text-align: center;
}
.aboutright h1{
  color: rgb(234,71,23);
}


/* Promoting us section */
.promoleft{
  grid-area: promoleft;
  background-color: rgb(252,219,197);
  color: black;
  padding: 60px;
  text-align: center;
}
.promoright{
  min-height: 500px;
  grid-area: promoright;
  background-color: rgb(48,48,48);
  background-image: url('images/drone_splash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.promoleft h1{
  color: rgb(234,71,23);
}


/* Statement spacer */
.spacer{
  padding: 20px;
  grid-area: spacer;
  background-color: rgb(73,73,73);
  color: white;
  text-align: center;
}


/*Featured*/
.featured{
  height: 100px;
  grid-area: featured;
  background-color: rgb(244,253,254);
  color: black;
  margin-bottom: -20px;
  text-align: center;
}
.featuredend{
  height: 100px;
  grid-area: featuredend;
  background-color: rgb(244,253,254);
  color: black;
  margin-top: -20px;
  text-align: center;
}
.featured1 {
  grid-area: featured1;
  background-image: url('images/pi_nas.jpeg');
  background-color: rgb(244,253,254);
  background-position: center;
  background-size: cover;
  min-height: 400px;
  padding: 20px;
  outline: 10px solid rgb(244,253,254);
  outline-offset: -10px;
}
.featured2 {
  grid-area: featured2;
  color: rgb(234,71,23);
  background-image: url('images/bot_image.jpeg');
  background-color: rgb(244,253,254);
  background-position: center;
  background-size: cover;
  min-height: 400px;
  padding: 20px;
  outline: 10px solid rgb(244,253,254);
  outline-offset: -10px;
}
.featured3 {
  grid-area: featured3;
  background-image: url('images/rc_image.jpeg');
  background-color: rgb(244,253,254);
  background-position: center;
  background-size: cover;
  min-height: 400px;
  padding: 20px;
  outline: 10px solid rgb(244,253,254);
  outline-offset: -10px;
  margin-right: 20px;
}


/*Team Section*/
.teamleft{
  min-height: 550px;
  grid-area: teamleft;
  background-color: rgb(48,48,48);
  background-image: url('images/team_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.teamright h2{
  color: rgb(234,71,23);
}
.teamright{
  grid-area: teamright;
  background-color: rgb(184,200,203);
  color: white;
  text-align: center;
}
.profile{
  background-color: gray;
  background-image: url('images/stock_profile.png');
  background-position: center;
  background-size: cover;
  border-radius:50%;
  height: 200px;
  margin-left:auto;
  margin-right:auto;
  width: 200px;
}


/* Contact Section */
.contactleft h1{
  color: rgb(234,71,23);
}
.contactleft { 
  grid-area: contactleft;
  background-color: black;
  color: white;
  padding-top: 80px;
  text-align: center;
}
.contactright {
  min-height: 500px;
  max-height: 800px;
  grid-area: contactright;
  background-color: black;
  background-image: url('images/mock_map.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  outline: 20px solid black;
  outline-offset: -20px;
}


/* Footer Section */
.footer {
  min-height: 100px;
  max-height: 200px;
  grid-area: footer;
  background-color: rgb(55,55,55);
  color: white;
  text-align: center;
}


/* Responsive layout - when the screen is less than 800px wide */
@media only screen and (max-width: 800px) {
  .topnav a{
    padding: 14px 18px;
    margin-left: -10px;
  }
  .featured1 {
    margin-right: 20px;
  }
  .featured2 {
    margin-right: 20px;
  }
  
  .grid-container{
    background-color: rgb(65,65,65);
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(18, 1fr);
    grid-template-areas:
    "topnav"
    "header"
    "hero"
    "aboutleft"
    "aboutright"
    "promoright"
    "promoleft"
    "spacer"
    "featured"
    "featured2"
    "featured1"
    "featured3"
    "featuredend"
    "teamleft"
    "teamright"
    "contactleft"
    "contactright"
    "footer"
    ;
  }
}
