<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" media="screen"/>
</head>    
<body>

<header>
    <div>
        <h2> CONTACT HEADER </h2>
        <p> Something here sometime later </p>    
    </div>
   
    <h3>
        <a href = "{{ url_for('home') }}"><button>Home</button> </a>
    </h3>
    

    <h3>
        <a href = "{{ url_for('about') }}"><button>About</button> </a>
    </h3>


    <h3>
        <a href = "{{ url_for('contact') }}"><button>Contact</button> </a>
    </h3>
           
</header>

</body>
</html>