<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" media="screen"/>
</head>    

<body>
<div class="topnav">
    <a href="#">HOME</a>
    <a href="#">ABOUT</a>
    <a href="#">PROJECTS</a>
    <a href="#">TEAM</a>
    <a href="#">CONTACT</a>
    <a href="#" style="float:right">CAREERS</a>
</div>

<div class="header"></div>

<div class="row">
    
        <div class="card">
            <h2>ABOUT US</h2>
            <h5>What we do</h5>
            <p>Some text..</p>
            <p>Started KEYIN</p>
        </div>
        <div class="card">
            <h2>Why choose us?</h2>
            <p>Some text..</p>
            <p>Started developing this page</p>
        </div>
   
  
        
        <div class="card">
            <h3>Featured Projects</h3>
            
                <div class = "threecolumn">
                    <div class="fakeimg"><h4>Image</h4></div>
                </div>
                <div class = "threecolumn">
                    <div class="fakeimg"><h4>Image</h4></div>
                </div>
                <div class = "threecolumn">
                    <div class="fakeimg"><h4>Image</h4></div>
                </div>
            
            <p>Click here to view all of our projects!</p> <!-- Add href link to projects page. -->
        </div>
        
        <div class="card">
            <h2>OUR TEAM</h2>
            <div class="fakeimg" style="height:100px;"><h4>Image</h4></div>
            <p> My name is Daniel, the creater of Vardef.</p></p>
        </div>
        <div class="card">
            <div class="col-container">
                <div class="col">
                    <div class="leftcolumn">
                        <h3>Contact Me</h3>
                        <p>Some text..</p>
                    </div>
                </div>
                
                <div class="col">
                    <div class="rightcolumn">
                        <p>Image</p>
                    </div>
                </div>
            </div>
            
            
        </div>
    
</div>

<div class="footer">
  <h2>Footer</h2>
</div>

</body>
</html>
