<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects - Vardef</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" media="screen"/>
</head>    
<body>
    
    
    
    <!--Grid Start-->
<div class ="grid-project">
 
    
<!--Fixed position top navigation bar-->
<div class="topnav">
    <a href="#">HOME</a>
    <a href="#about">ABOUT</a>
    <a href="#projects">PROJECTS</a>
    <a href="#team">TEAM</a>
    <a href="#contact">CONTACT</a>
</div>


<!--Header-->
<div class="header"></div>
  
    
<!-- Hero Text -->
<div class="hero">
<h1 id="about">OUR PROJECTS</h1>
</div>


<!--Contact section-->
<div class="contactleft">
<h1 id="contact">CONTACT US</h1>
<h4>123, Over That Way</h4>
<h4>St. John's, NL, Canada</h4>
<h4>Call: 1-709-765-4321</h4>
<h4>E-mail: info@vardef.com</h4>
</div>
<div class="contactright">
<iframe id="myMap" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJYaIKa46jDEsRHyYSHwDUH54&key=AIzaSyBJoIAiN5Aq2qwzvUceEKULxVTkeSm1LPs" allowfullscreen></iframe>     
</div>

<!--Footer section-->
<div class="footer">
<h3>Footer Placeholder</h3>
</div>

<!--End grid div-->
</div> 
    
    
    
    
</body>
</head>